In [1]:
import pandas as pd

df = pd.concat((
    pd.read_csv('./data/October_missions_full.csv'),
), ignore_index=True)

df['mission'] = df['type'] + '_' + df['target'].astype(str)

df = df[['user', 'mission', 'createdAtT', 'type', 'target', 'performance']]
df['createdAtT'] = pd.to_datetime(df['createdAtT'], unit='ms').dt.date
df = df.groupby('user').filter(lambda x: len(x['createdAtT'].unique()) > 2)

df['user'] = df['user'].astype('category').cat.codes
df['mission'] = df['mission'].astype('category')
df['missionID'] = df['mission'].cat.codes
df['type'] = df['type'].astype('category')
df['performance'] = df['performance'].apply(lambda x: 0.7 <= x <= 1.05).astype(int)

df.sort_values(by=['createdAtT', 'user'], inplace=True, ignore_index=True)
df

       user     mission  createdAtT      type  target  performance  missionID
0         0    action_1  2024-10-01    action       1            1          0
1         0      quiz_5  2024-10-01      quiz       5            1         28
2         0     exp_100  2024-10-01       exp     100            0         18
3         2   episode_1  2024-10-01   episode       1            1         12
4         2      quiz_1  2024-10-01      quiz       1            1         24
...     ...         ...         ...       ...     ...          ...        ...
70899  1822   episode_5  2024-10-31   episode       5            0         16
70900  1822  activity_5  2024-10-31  activity       5            0          7
70901  1823   episode_5  2024-10-31   episode       5            0         16
70902  1823  mobility_1  2024-10-31  mobility       1            0         20
70903  1823    action_2  2024-10-31    action       2            0          1

[70904 rows x 7 columns]

In [2]:
from src.tree import TreeNode

missions = df[['missionID', 'type', 'target']].drop_duplicates()
root = TreeNode('root')
for name, group in missions.groupby('type', observed=True):
    node = TreeNode(name)
    root.add_child(node)
    for _, mission in group.iterrows():
        node.add_child(TreeNode(mission.to_dict()))

print(root)

root
	action
		{'missionID': 0, 'type': 'action', 'target': 1}
		{'missionID': 1, 'type': 'action', 'target': 2}
	activity
		{'missionID': 10, 'type': 'activity', 'target': 8}
		{'missionID': 7, 'type': 'activity', 'target': 5}
		{'missionID': 2, 'type': 'activity', 'target': 1}
		{'missionID': 3, 'type': 'activity', 'target': 10}
		{'missionID': 9, 'type': 'activity', 'target': 7}
		{'missionID': 5, 'type': 'activity', 'target': 3}
		{'missionID': 8, 'type': 'activity', 'target': 6}
		{'missionID': 11, 'type': 'activity', 'target': 9}
		{'missionID': 4, 'type': 'activity', 'target': 2}
		{'missionID': 6, 'type': 'activity', 'target': 4}
	episode
		{'missionID': 12, 'type': 'episode', 'target': 1}
		{'missionID': 13, 'type': 'episode', 'target': 2}
		{'missionID': 16, 'type': 'episode', 'target': 5}
		{'missionID': 17, 'type': 'episode', 'target': 6}
		{'missionID': 15, 'type': 'episode', 'target': 4}
		{'missionID': 14, 'type': 'episode', 'target': 3}
	exp
		{'missionID': 18, 'type': 'exp', 'target': 100}
		{'missionID': 19, 'type': 'exp', 'target': 50}
	mobility
		{'missionID': 22, 'type': 'mobility', 'target': 3}
		{'missionID': 20, 'type': 'mobility', 'target': 1}
		{'missionID': 21, 'type': 'mobility', 'target': 2}
		{'missionID': 23, 'type': 'mobility', 'target': 4}
	quiz
		{'missionID': 28, 'type': 'quiz', 'target': 5}
		{'missionID': 24, 'type': 'quiz', 'target': 1}
		{'missionID': 25, 'type': 'quiz', 'target': 2}
		{'missionID': 29, 'type': 'quiz', 'target': 6}
		{'missionID': 27, 'type': 'quiz', 'target': 4}
		{'missionID': 26, 'type': 'quiz', 'target': 3}
	streak
		{'missionID': 30, 'type': 'streak', 'target': 1}