In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from tqdm.auto import tqdm
tqdm.pandas()

df = pd.read_csv('./data/October_November_missions_full.csv')
df.rename(columns={'sub': 'user'}, inplace=True)
df['mission'] = df['kind'] + '_' + df['TARGET'].astype(str)

df = df[['user', 'mission', 'createdAt', 'kind', 'TARGET', 'performance']]
df['createdAt'] = pd.to_datetime(df['createdAt'])
df['user'] = df['user'].astype('category').cat.codes
df['mission'] = df['mission'].astype('category')
df['kind'] = df['kind'].astype('category')

df.sort_values(by=['createdAt', 'user'], inplace=True, ignore_index=True)
df

,user,mission,createdAt,kind,TARGET,performance
0,0,episode_4,2024-10-02 00:00:00+00:00,episode,4,0.25
1,0,streak_1,2024-10-02 00:00:00+00:00,streak,1,1.00
2,0,activity_4,2024-10-02 00:00:00+00:00,activity,4,1.50
3,2,activity_7,2024-10-02 00:00:00+00:00,activity,7,0.00
4,2,exp_100,2024-10-02 00:00:00+00:00,exp,100,0.00
...,...,...,...,...,...,...
198704,11241,quiz_3,2024-11-30 00:00:00+00:00,quiz,3,0.00
198705,11241,streak_1,2024-11-30 00:00:00+00:00,streak,1,0.00
198706,11265,activity_3,2024-11-30 00:00:00+00:00,activity,3,0.00
198707,11265,episode_5,2024-11-30 00:00:00+00:00,episode,5,0.00
198708,11265,quiz_2,2024-11-30 00:00:00+00:00,quiz,2,0.00

In [ ]:
plt.figure(figsize=(10, 6))

plt.subplot(1, 2, 1)
df['completed'].value_counts(normalize=True).plot(kind='bar')

plt.subplot(1, 2, 2)
df['performance'].plot.hist(bins=20)

plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize=(10, 6))

df.groupby('mission', observed=True).size().plot(kind='bar')

In [ ]:
plt.figure(figsize=(10, 6))

df.groupby('kind', observed=True).size().plot(kind='bar')

In [ ]:
import numpy as np

def reward(x):
    if x <= 1:
        return x
    return np.maximum(0, 2 - np.power(x, 2))

x = np.linspace(0, 2, 100)
y = [reward(i) for i in x]

import matplotlib.pyplot as plt
plt.figure(figsize=(10, 6))

plt.title('Value of reward function over performance', fontsize=20)
plt.plot(x, y, label='Reward')
plt.fill_between(x, [1] * len(x), alpha=0.3, color='#E66100', where = x >= 1, label='Mission with overshoot')
plt.fill_between(x, [1] * len(x), alpha=0.3, color='#5D3A9B', where = x <= 1, label='Mission failed')
plt.legend(fontsize=12)
plt.xlabel('Observed performance (relative to target)', fontsize=14)
plt.ylabel('Reward value', fontsize=14)
plt.grid()
plt.savefig('out/reward_function.pdf', format='pdf')
plt.show()