In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('./October_missions_full.csv')
df['mission'] = df['type'] + '_' + df['target'].astype(str)

df = df[['user', 'mission', 'createdAtT', 'type', 'target', 'completed', 'performance']]
df['createdAtT'] = pd.to_datetime(df['createdAtT'], unit='ms')
df['user'] = df['user'].astype('category').cat.codes
df['mission'] = df['mission'].astype('category')
df['type'] = df['type'].astype('category')

df.sort_values(by=['createdAtT', 'user'], inplace=True, ignore_index=True)
df

,user,mission,createdAtT,type,target,completed,performance
0,4299,quiz_2,2024-10-01 00:00:07.698,quiz,2,False,0.000000
1,4299,mobility_1,2024-10-01 00:00:07.698,mobility,1,True,1.000000
2,4299,activity_6,2024-10-01 00:00:07.698,activity,6,False,0.666667
3,2566,mobility_1,2024-10-01 00:00:17.857,mobility,1,False,0.000000
4,2566,episode_3,2024-10-01 00:00:17.857,episode,3,False,0.666667
...,...,...,...,...,...,...,...
91353,4978,mobility_2,2024-10-31 23:55:25.309,mobility,2,False,0.000000
91354,4978,quiz_5,2024-10-31 23:55:25.309,quiz,5,False,0.000000
91355,1593,episode_2,2024-10-31 23:59:41.228,episode,2,False,0.000000
91356,1593,activity_3,2024-10-31 23:59:41.228,activity,3,False,0.000000
91357,1593,mobility_3,2024-10-31 23:59:41.228,mobility,3,False,0.000000

In [5]:
summary = df.groupby(['user', 'mission', 'type', 'target'], observed=True).agg(
    completed=('completed', 'sum'),
    failed=('completed', lambda x: x.count() - x.sum()),
    success_ratio=('completed', lambda x: (x.sum() / x.count()) * 100), 
    avg_performance=('performance', 'mean')
)

summary

                                 completed  failed  success_ratio  \
user mission    type     target
0    action_2   action   2               0       1            0.0
     activity_4 activity 4               1       0          100.0
     activity_9 activity 9               0       1            0.0
     episode_1  episode  1               1       0          100.0
     episode_2  episode  2               0       1            0.0
...                                    ...     ...            ...
7276 quiz_2     quiz     2               1       1           50.0
     quiz_3     quiz     3               1       1           50.0
     quiz_4     quiz     4               0       2            0.0
     quiz_5     quiz     5               0       1            0.0
     streak_1   streak   1               1       0          100.0

                                 avg_performance
user mission    type     target
0    action_2   action   2              0.000000
     activity_4 activity 4              1.000000
     activity_9 activity 9              0.555556
     episode_1  episode  1              1.000000
     episode_2  episode  2              0.000000
...                                          ...
7276 quiz_2     quiz     2              0.500000
     quiz_3     quiz     3              0.500000
     quiz_4     quiz     4              0.375000
     quiz_5     quiz     5              0.400000
     streak_1   streak   1              1.000000

[53589 rows x 4 columns]