In [1]:
import pandas as pd

df = pd.concat((
    pd.read_csv('./data/October_missions_full.csv'),
    pd.read_csv('./data/November_1stW_missions_full.csv'),
), ignore_index=True)

df['mission'] = df['type'] + '_' + df['target'].astype(str)

df = df[['user', 'mission', 'createdAtT', 'type', 'target', 'performance']]
df['createdAtT'] = pd.to_datetime(df['createdAtT'], unit='ms').dt.date
df = df.groupby('user').filter(lambda x: len(x['createdAtT'].unique()) > 1)

df.drop_duplicates(subset=['user', 'mission'], keep='last', inplace=True)
df['user'] = df['user'].astype('category').cat.codes
df['mission'] = df['mission'].astype('category')
df['missionID'] = df['mission'].cat.codes
df['type'] = df['type'].astype('category')
df['performance'] = df['performance'].apply(lambda x: 0.7 <= x <= 1.05).astype(int)

df.sort_values(by=['createdAtT', 'user'], inplace=True, ignore_index=True)
df

       user     mission  createdAtT      type  target  performance  missionID
0         0   episode_2  2024-10-01   episode       2            0         13
1         0    action_2  2024-10-01    action       2            0          1
2         0   episode_1  2024-10-01   episode       1            1         12
3         0      quiz_1  2024-10-01      quiz       1            1         24
4         0      quiz_4  2024-10-01      quiz       4            1         27
...     ...         ...         ...       ...     ...          ...        ...
44117  2946      quiz_4  2024-11-07      quiz       4            1         27
44118  2960  activity_7  2024-11-07  activity       7            0          9
44119  2968  mobility_3  2024-11-07  mobility       3            0         22
44120  2968      quiz_3  2024-11-07      quiz       3            0         26
44121  2968  activity_1  2024-11-07  activity       1            1          2

[44122 rows x 7 columns]